.body {
    font-family: 'xxx', Arial, Halvetica, sans-serif;
    } 
.h1 {
    font-family: 'New Tegomin', serif;
}

.h3 {
    font-family: 'Dela Gothic One', cursive;
}
.navbar{
    font-weight: bold;


}
